node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
